Repository CDCgov/prime-simplereport, pull requests merged in 2021-02, with the labels that each got.

#641 Add backend endpoints and wire frontend for Patient Experience
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patientLink/PatientLinkDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patientLink/PatientLinkMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patientLink/PatientLinkResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PatientLink.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PatientLinkRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientLinkService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/schema.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientLinkServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/add-to-queue
  backend/src/test/resources/application-default.yaml
  backend/src/test/resources/patient-link-current-query
  backend/src/test/resources/patient-link-submit
  backend/src/test/resources/patient-link-verify-query
  backend/src/test/resources/queue-dates-query
  frontend/.env
  frontend/.env.development
  frontend/e2e/pages/home.js
  frontend/package.json
  frontend/src/app/commonComponents/Button.tsx
  frontend/src/app/store.ts
  frontend/src/app/testQueue/AoEForm/AoEForm.jsx
  frontend/src/app/testQueue/AoEForm/AoEModalForm.jsx
  frontend/src/app/testQueue/AoEForm/AoEPatientFormContainer.tsx
  frontend/src/app/testQueue/AoEForm/DOB.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.jsx
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
  frontend/src/app/utils/url.ts
  frontend/src/index.tsx
  frontend/src/patientApp/ErrorPage.tsx
  frontend/src/patientApp/PatientApp.tsx
  frontend/src/patientApp/PatientHeader.tsx
  frontend/src/patientApp/timeOfTest/AoEPatientFormContainer.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
  frontend/src/patientApp/timeOfTest/PatientLanding.tsx
  frontend/src/patientApp/timeOfTest/PatientProfile.tsx
  frontend/src/patientApp/timeOfTest/constants.js
  frontend/src/scss/PrimeStyles.scss
  frontend/yarn.lock
Labels: Patient Experience

#734 Extend feature flag to cover QR code display
  frontend/src/app/testQueue/AoEForm/AoEModalForm.jsx
Labels: Patient Experience

#735 Increase font size on manage organization/manage facilities tab
  frontend/src/scss/PrimeStyles.scss
Labels: Patient Experience

#756 Scaling-friendly upload job
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/simplereport/DataHubConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DataHubUpload.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/SystemManagedEntity.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/AdvisoryLockManager.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DataHubUploadRespository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubUploaderService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ScheduledTasksService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UploadTrackingService.java
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/DataHubUploadEntityRespositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ScheduledTasksServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/UploadTrackingServiceTest.java
  backend/src/test/resources/application-default.yaml
  ops/dev/api.tf
  ops/prod/api.tf
  ops/stg/api.tf
Labels: Core app

#851 Edit language
  frontend/e2e/pages/patientExperience.js
  frontend/src/app/patients/PatientForm.tsx
  frontend/src/patientApp/timeOfTest/PatientLanding.tsx
  frontend/src/patientApp/timeOfTest/constants.js
Labels: Patient Experience

#892 Fix state propagation so that queue refresh updates AoE tags
  frontend/src/app/testQueue/AskOnEntryTag.jsx
  frontend/src/app/testQueue/QueueItem.tsx
Labels: Patient Experience

#869 Add text messaging screens
  .github/workflows/e2e.yml
  frontend/e2e/docker-compose.yml
  frontend/e2e/pages/home.js
  frontend/package.json
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/testQueue/AoEForm/AoEForm.scss
  frontend/src/app/testQueue/AoEForm/AoEModalForm.jsx
  frontend/src/app/testQueue/AoEForm/AoEModalForm.test.tsx
  frontend/src/app/testQueue/AoEForm/__snapshots__/AoEModalForm.test.tsx.snap
Labels: Patient Experience

#905 Updated specimen-type migration to run in all environments.
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Labels: Bug, Core app

#902 Add help link and modal to Demographics section on edit patient form
  frontend/src/app/patients/PatientForm.tsx
  frontend/src/app/patients/__snapshots__/PatientForm.test.tsx.snap
  frontend/src/scss/PrimeStyles.scss
Labels: Patient Experience

#913 Update texting message copy
  frontend/src/app/testQueue/AoEForm/AoEModalForm.jsx
  frontend/src/app/testQueue/AoEForm/__snapshots__/AoEModalForm.test.tsx.snap
Labels: Patient Experience

#900 Add validation to Patient Form
  frontend/e2e/pages/patients.js
  frontend/src/app/Settings/Users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/commonComponents/TextInput.tsx
  frontend/src/app/patients/PatientForm.tsx
  frontend/src/app/patients/__snapshots__/PatientForm.test.tsx.snap
  frontend/src/app/testQueue/AoEForm/__snapshots__/AoEForm.test.tsx.snap
  frontend/src/app/testQueue/AoEForm/__snapshots__/AoEModalForm.test.tsx.snap
  frontend/src/app/testQueue/AoEForm/__snapshots__/PriorTestInputs.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultInput.test.tsx.snap
Labels: Patient Experience

#802 Add Terms of Service consent page
  frontend/e2e/pages/patientExperience.js
  frontend/e2e/tests/full-suite.js
  frontend/src/patientApp/PatientApp.tsx
  frontend/src/patientApp/timeOfTest/TermsOfService.test.tsx
  frontend/src/patientApp/timeOfTest/TermsOfService.tsx
  frontend/src/patientApp/timeOfTest/ToS.tsx
  frontend/src/patientApp/timeOfTest/__snapshots__/TermsOfService.test.tsx.snap
  frontend/src/scss/PrimeStyles.scss
Labels: Patient Experience

#956 Fix label and button name on modal
  frontend/src/app/testQueue/AoEForm/AoEModalForm.tsx
  frontend/src/app/testQueue/AoEForm/__snapshots__/AoEModalForm.test.tsx.snap
Labels: Patient Experience

#962 Update "no previous test" copy
  frontend/src/app/testQueue/AoEForm/PriorTestInputs.tsx
  frontend/src/app/testQueue/AoEForm/__snapshots__/PriorTestInputs.test.tsx.snap
  frontend/src/patientApp/timeOfTest/__snapshots__/AoEPatientFormContainer.test.tsx.snap
Labels: Patient Experience

#941 Twilio Integration!
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  README.md
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/PatientLinkExpiredException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceController.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientLinkMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/TwilioDisabledConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/SmsProviderWrapper.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/SmsService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application-azure-demo.yaml
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-pentest.yaml
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-azure-stg.yaml
  backend/src/main/resources/application-azure-test.yaml
  backend/src/main/resources/application-azure-training.yaml
  backend/src/main/resources/application-dev.yaml
  backend/src/main/resources/schema.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/SmsServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  frontend/src/app/testQueue/AoEForm/AoEModalForm.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.jsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
  frontend/src/patientApp/timeOfTest/AoEPatientFormContainer.tsx
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/pentest/_data.tf
  ops/pentest/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
  ops/training/_data.tf
  ops/training/api.tf
Labels: Patient Experience
